@using ErichsCarpetCare.UI.MVC.Models;
@model ErichsCarpetCare.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Contact";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="contact-container">
        <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('images/bg_1.jpg')">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-7">
                        <h2 class="mb-0">Get In Contact</h2>
                        <p>Fill out the form below so we can reach out to you!</p>
                        @if (ViewBag.CustomerMessage != null)
                        {
                            <p>@Html.Raw(ViewBag.CustomerMessage)</p>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="site-section">
            <div class="container">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-6" })

                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-6" })

                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-6" })

                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-6" })

                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-6" })

                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-3 form-group">
                        @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-6" })

                        @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                        @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-3 form-group">
                        @Html.LabelFor(model => model.IsCommercial, htmlAttributes: new { @class = "control-label" })

                        @Html.DropDownListFor(model => model.IsCommercial,
                       new SelectList(new[] {
                           new { Value = "Commercial", Text = "Commercial" },
                           new { Value = "Residential", Text = "Residential" }, }, "Value", "Text", Model), new { htmlAttributes = new { @class = "form-control form-control-lg" } })

                        @Html.ValidationMessageFor(model => model.IsCommercial, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.RequestedDate, htmlAttributes: new { @class = "control-label col-md-6" })

                        @Html.EditorFor(model => model.RequestedDate, new { htmlAttributes = new { @class = "form-control form-control-lg datepicker" } })

                    </div>

                    <div class="col-md-3 form-group">
                        @Html.LabelFor(model => model.Referral, htmlAttributes: new { @class = "control-label" })

                        @Html.DropDownListFor(model => model.Referral,
                       new SelectList(new[] {
                           new { Value = "Facebook", Text = "Facebook" },
                           new { Value = "Google", Text = "Google" },
                           new { Value = "Referral", Text = "Referral" },
                           new { Value = "RepeatCustomer", Text = "Repeat Customer" },
                           new { Value = "Other", Text = "Other" }, }, "Value", "Text", Model),new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                        @Html.ValidationMessageFor(model => model.Referral, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-3 form-group">
                        @Html.LabelFor(model => model.ReferralSource, htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.ReferralSource, new { htmlAttributes = new { @class = "form-control form-control-lg" } })

                    </div>

                </div>


                <div class="row"><label class="control-label">What Type of Service are you Requesting?</label></div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.Carpet)
                            @Html.LabelFor(model => model.Carpet)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.Tile)
                            @Html.LabelFor(model => model.Tile)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.Upholstery)
                            @Html.LabelFor(model => model.Upholstery)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.Rug)
                            @Html.LabelFor(model => model.Rug)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.Other)
                            @Html.LabelFor(model => model.Other)
                        </div>
                    </div>
                </div>

                <div class="row"><label class="control-label">Additional Services</label></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.Odor)
                            @Html.LabelFor(model => model.Odor)
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.CarpetProtector)
                            @Html.LabelFor(model => model.CarpetProtector)
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.AntiAllergin)
                            @Html.LabelFor(model => model.AntiAllergin)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="submit" value="Send Message" class="btn btn-contact btn-lg px-5">
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        });
    </script>
}



